{% extends "base.html" %}

{% block content %}
<body>
  {% if 'инженер' in profession.lower() or 'строитель' in profession.lower() %}
        <h2>Инженерные тренажеры</h2>
        <img src={{ url_for('static', filename='img/spaceship_it.jpg') }}
        alt="здесь должна была быть картинка, но не нашлась">
  {% elif 'полит' in profession.lower() %}
        <h2>Комната грязи</h2>
        <img src={{ url_for('static', filename='img/easter.jpg') }}
        alt="здесь должна была быть картинка, но не нашлась">
  {% else %}
        <h2>Научные симуляторы</h2>
        <img src={{ url_for('static', filename='img/spaceship_ns.jpg') }}
        alt="здесь должна была быть картинка, но не нашлась">
  {% endif %}
{% endblock %}